h1{
    text-align: center;
}

p{
    text-align: center;
}

li:hover{
    background-color: red;
}

li:active{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

ul{
    list-style: none;
}

ol{
    list-style: none;
}